body{
	background-image: url("https://www.maxpixel.net/static/photo/1x/Texture-Background-Rustic-Neutral-Wood-1084109.jpg");
	background-size: contain cover;
	background-repeat: no-repeat;
	background-size: 100%;
}

#homeB{
  position: absolute;
  top: 0;
  right: 0;
}

.container{
	border-width: 2px;
	border-color: black;
	border-style: solid;
	width: 450px;
	height: 550px;
	margin-right: auto;
	margin-left: auto;
	background-color: #CED0D5;
  }

  .register{
  	font-family: "Comic Sans MS", cursive, sans-serif;
  	text-align: center;
  	font-size: 40px;
  }

  .create{
  	text-align: center;
  	margin-: 15px;
  }

  form{
  	padding-left: 10%;
  	padding-right: 10%;

  }

  .row{
  	padding-top: 20px;
  }

.buttonR{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.already{
  text-align: left;
}