
.banner{
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100px;
	background-color: #F53535;


}

#myButtons{
	position: absolute;
	top: 0;
	right: 0;
}


.forCarousel{
	margin-left: 15%;
	margin-right: 15%;

}

h1 {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.btn-group{
	width: 100%;
}



.carouselPic{
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.row{
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(0, 0, 0, 0.10);
	text-align: center;
	display: flex;
}

.storyContainer{
/*	max-width: 100%;
	max-height: 100%;*/
/*	height: 1000px;*/
	padding-right: 10%;
	padding-left: 10%;
/*	background-color: yellow;*/
}

.pic{
	/*max-width: 100%;
	max-height: 100%;
	min-height: 100%;*/
	height: auto;
	width: 380px;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

#sticky{
	position: sticky;
	z-index: 99;
	top: 0;
}

.bulb{
	cursor: pointer;
	width: 35px;
	height: 35px;
	position: relative;
	top: 53px;
	right: 0;
	padding-right: 7px;
	z-index: 99;
	position: fixed;
}

footer{
	position: relative;
}

#footerParagraph{
	position: absolute;
	top: 9px;
	left: 0;
	padding-left: 30px;
	text-align: left;
	cursor: pointer;
	border-right: 2px solid white;
	width: 150px;

}
