body {
	padding: 0;
	margin: 0;
}

.container, .row, .collumn{
	padding-top: 20px;
	padding-bottom: 20px;
}

.container{
	background-color: lightblue;
	padding-left: 10%;
	padding-right: 10%;
}

.row{
	background-color: blue;
}

.collumn {
	background-color: lightpink;
}

.percents .collumn{
	width: calc(50% - 2px);
	display: inline-block;
}

.percents2 .row{
	text-align: center;
}

.percents2 .collumn{
	width: 49%;
	display: inline-block;
	text-align: left;
}

.flex .row{
	display: flex;
}

.flex .collumn{
	flex :1;
}