body{
	background-color: lightblue;
}
.container{
	border: 2px dashed red;
	min-width: 300px;
	width: 80%;
	max-width: 1200px;
	margin: auto;
}

.row{
	display: flex;
	flex-flow: row wrap;

}

.column {
	height: 150px;
	background-color: white;
	border: 2px solid red;
	box-sizing: border-box;
	flex: 0 0 100%;
	order:1;
}

#super{
	background-color: red;
	order: 2;
}

.column:nth-child(even) {
	background-color: black;
}
/*.column#super{
	flex: 10;
	background-color: red;
}
*/
@media screen and (min-width: 375px){
	body{
		background-color: yellow;
	}
}
@media screen and (min-width: 425px){
	body{
		background-color: green;
	}
}
@media screen and (min-width: 768px){
	body{
		background-color: blue;
	}
	.column{
		flex: 1 0 50%;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 50%;
	}
}
@media screen and (min-width: 1024px){
	body{
		background-color: pink;
	}
	.column{
		flex: 1 0 33%;
	}

}
@media screen and (min-width: 1440px){
	body{
		background-color: lightpink;
	}
	.column{
		flex: 1 0 25%;
	}
}
@media screen and (min-width: 2560px){
	body{
		background-color: orange;
	}
}