body {

	background-image: url("https://images-prod.healthline.com/hlcmsresource/images/topic_centers/Do_Apples_Affect_Diabetes_and_Blood_Sugar_Levels-732x549-thumbnail.jpg");
	background-size: contain cover;
	background-repeat: no-repeat;
	background-size: 100%;

	font-family: 'Tajawal', sans-serif;
	color: white;
	margin: 20px 40px 20px;
}

main {

width: 600px;
margin-left: auto;
margin-right: auto;

padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
background: rgba(0, 0, 0, 0.75);
}

h1 {
	text-decoration: underline;
	font-size: 50px;
}

span{
	font-size: 36px;
}

article > p{
	text-align: justify;
	color: #fcc;
}

p:nth-child(even) {
  text-transform: uppercase;
	font-size: 12px;
}

blockquote {
	text-align: right;
	border-right: 2px solid #f33;
	padding-right: 20px;
}

article > blockquote {
	color: inherit;
}

img {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	
}