/*body{
	padding: 0;
	margin:0;
}
#heder{
	background-color: black;
	position: fixed;
	width: 100%;
}
.row{
	display: flex;
	padding: 20px;
}
.column{
	flex:1;
}
.navigation{
	width: 100%;
	text-align: right;
}
.navigation a{
	margin: 0 10px;
	padding: 10px;
}*/

body {
	background-color: pink;
}

.bulb{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.number1{
	width: 100%;
	height: 80px;
	background-color: black;
	position: relative;
}

.number2{
	background-color: yellow;
	z-index: 1;
	width: 100%;
	height: 80px;
position: sticky;
top: 0;




}

.number3{
	width: 100%;
	height: 80px;
	background-color: purple;
position: relative;

}

button{
	cursor: pointer;
}