div {
	background-color: #eee;
	width: 200px;
	height: 200px;
}

#first-container {
	background-color: #ff0;
	width: 300px;
	height: 300px;
}
#first-container div {
	background-color: #0ff;
}
body > div{
	border-width: 50px;
	border-color: red;
	border-style: solid;
}
body > div:nth-child(2) {
border-color: yellow;
}
div:nth-child(2) {
	border-style: dotted;
}
.sublevel-1 {
	background-color: #f0f;
	width: 100px;
	height: 100px;
}

/*selectors done second part */

.title-image {
	width: 100%;
	opacity: 0.5;
	/*height: 20px;*/

/*	border-width: 5px;
	border-style: solid;
	border-color: red;*/
	border:5px solid red;
/*	border-top-width: 30px;
	border-bottom: 30px dotted blue; */
/*	border-radius: 50px;
	border-top-right-radius: 0px;*/
	/*border-radius:0px 20px 40px 60px;*/
	border-radius: 30px 0px;
}

h1 {
/*	margin-left: 0;
	margin-top: 20px;*/
	margin: 20px 0px 45px;
	padding: 20px 0px 45px;
	border:1px solid red;
	text-align: center;
	font-size: 80px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/An_up-close_picture_of_a_curious_male_domestic_shorthair_tabby_cat.jpg/220px-An_up-close_picture_of_a_curious_male_domestic_shorthair_tabby_cat.jpg');
	background-size: contain;
	background-repeat: no-repeat;

}

textarea {
	width: calc(100% - 40px);
	width: 100%;
	font-size: 40px;
	padding: 10px;
	margin: 20px;
}

header{
	position: relative;
}

header .trex{
	width: 100px;
	top: 20px;
}

.trex {
	width: 41%;
	opacity: 0.7;
	position: absolute;
	top: 230px;
	/*z-index: 2;*/

}

.poop {
	width: 60%;
	opacity: 0.8;
	position: absolute;
	right: 190px;
	left: 160px;
	top: 20px;
	/*z-index: 3;*/
}

.sticky {
	position: fixed;
	/*opacity: 0.2;*/
	bottom:0;
	/*z-index: 1;*/
}