	<style>
		body{
			background-color: #eee;
		}
		.navigation{
			background-color: yellow;
		}
		#mySpan {
			background-color: green;
		}
		a[targer="_blank"]{
			background-color: yellow;
		}

		.navigation#main {
			border-width: 10px;
			border-style: solid;
			border-color: red;
		}


		.navigation.secondary {
			border-width: 10px;
			border-style: solid;
			border-color: red;
		}

		
	</style>