div {  /*//pilngi visiem diviem, kas atrodas html failaa*/
	background-color: #aaa;
	width: 100px;
	height: 100px;

}

#first-container{ /*// konkretajam divam, kuram pieskirts ID first container*/
	background-color: #ff0;
	width: 130px;
	height: 100px;
}

#first-container div{ /*// background colors  TIESI DIV'iem konkretajam ID */
	background-color: #0ff;
}

.sublevel-1{ /*krasa prieks sublevel-1*/
	background-color: #f0f;
	width: 80px;
	height: 50px;
}

.sublevel-2{
		background-color: blue;
	width: 80px;
	height: 50px;
}

body > div{
	border-width: 2px;  /*border-width nozime raamja platums*/
	border-color: red;
	border-style: solid;
}

div:nth-child(1){
	border-color: blue;
	border-style: dotted;
}